@model YemekTarifleri.Models.RegisterViewModel
@{
    var modelState = ViewData.ModelState;
    var clientValidationEnabled = ViewContext.ClientValidationEnabled;
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
            <div class="card bg-light border-0 shadow-lg rounded-3">
                <div class="card-body p-4">
                    <div class="text-center mb-4">
                        <h3 class="text-uppercase mb-0">Kayıt Ol</h3>
                    </div>
                    <form asp-controller="SignUp" asp-action="SignUp" method="post">

                        @if (!modelState.IsValid && clientValidationEnabled)
                        {
                            <div class="text-danger">
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            </div>
                        }
                        <div class="form-outline mb-4">
                            <div class="form-outline mb-4">
                                <input type="text" name="nameAndSurname" class="form-control form-control-lg" placeholder="Ad soyad" required />
                                <label class="form-label visually-hidden" for="form1Example1">Ad soyad</label>
                            </div>
                        </div>
                        <div class="form-outline mb-4">
                            <input type="email" name="email" class="form-control form-control-lg" placeholder="Email" required />
                            <label class="form-label visually-hidden" for="form1Example3">Email</label>
                        </div>
                        <div class="row">
                            <small>
                                <ul><li>Şifre en az bir büyük harf, bir küçük harf ve bir rakam içermeli</li></ul>
                               </small>
                            <div class="col-md-6">
                                <div class="form-outline mb-4">
                                    <input type="password" name="password" class="form-control form-control-lg" placeholder="Şifre" required />
                                    <label class="form-label visually-hidden" for="form1Example4">Şifre</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-outline mb-4">
                                    <input type="password" name="againPassword" class="form-control form-control-lg" placeholder="Şifre Doğrulama" required />
                                    <label class="form-label visually-hidden" for="form1Example5">Şifre Doğrulama</label>
                                </div>
                            </div>

                        </div>
                        <div class="form-outline mb-4">
                            <input type="text" name="userName" class="form-control form-control-lg" placeholder="Kullanıcı adı" required />
                            <label class="form-label visually-hidden" for="form1Example6">Kullanıcı adı</label>
                        </div>
                        <div class="form-outline mb-4">
                            <select class="form-select" name="gender">
                                <option value="false" selected>Erkek</option>
                                <option value="true">Kız</option>
                            </select>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" name="provisions" type="checkbox" value="true" id="provisions" checked />
                            <label id="provisions" name="provisions" class="form-check-label" for="form1Example3">
                                Hüküm ve koşullara katılıyorum.
                            </label>
                        </div>
                        <div class="text-danger">
                            <h5> @ViewBag.ErrorMessage</h5>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary btn-lg w-100 default-background-color">Kayıt Ol</button>
                        </div>
                        <hr class="my-4">
                        <div class="text-center">
                            <p class="mb-0">Zaten hesabınız var mı ? <a class="text-primary" asp-area="" asp-controller="SignIn" asp-action="SignIn">Sign in</a></p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>