@{
    
    var path1 = "Image/patatesli-tavuk-yahnisi.jpg";
    var path2 = "Image/avatar.jpg";

    var recips = ViewBag.Recipes;
}


<!-- Page Content -->
<div class="container">

    <!-- Portfolio Item Heading -->
    <h1 class="my-4">
        Günün Yemeği:
    </h1>

    <!-- Portfolio Item Row -->
    <div class="row">

        <div class="col-md-8">
            <img class="img-fluid" src=@path1 alt="" style="height: 300px;">
        </div>

        <div class="col-md-4">
            <h3 class="my-3">Yemek Adı</h3>
            <p>Bu tarif 4 kişiliktir.</p>
            <h3 class="my-3">İçindekiler</h3>
            <ul>
                <li>Domates</li>
                <li>Soğan</li>
                <li>Et</li>
                <li>Patates</li>
            </ul>
        </div>

    </div>
    <!-- /.row -->
    <!-- Related Projects Row -->
    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading -->
        <h1 class="my-4">
            <small>Tarifler</small>
        </h1>

        <div class="row">
            <div class="row mb-5">
                @if (recips != null)
                    {
                        foreach (Recipe item in recips)
                        {
                        <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
                            <div class="card card-inverse card-info">
                                @if (item.image != null)
                                {
                                    <img class="card-img-top" src=@item.image>
                                }
                                else
                                {
                                    <img class="card-img-top" src=@path2>
                                }
                                <div class="card-block">
                                    <figure class="profile">
                                        <img src=@path2 class="profile-avatar" alt="">
                                    </figure>
                                    <h6 class="card-title mt-3">Ad Soyad</h6>
                                    <div class="meta card-text">
                                        <h4>
                                            <a asp-area="" asp-controller="DetailRecipe" asp-action="DetailRecipe" asp-route-detailId="@item.id">@item.name</a>

                                        </h4>
                                    </div>
                                    <div class="card-text">
                                        <h5>İçindekiler:</h5>
                                        @item.ingredients
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <small>@item.date</small>

                                </div>
                                <asp:Button ID="Button1" runat="server" Text="Sayfaya Git" OnClick="Button1_Click" />
                            </div>
                        </div>
                        }
                    }
                    else {
                        <h1>Tarif Eklenmedi</h1>
                    }
            </div>

        </div>
    </div>
</div>
