@page
@{

}
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4">
            <div class="card bg-light border-0 shadow-lg rounded-3">
                <div class="card-body p-4">
                    <div class="text-center mb-4">
                        <h3 class="text-uppercase mb-0">Sign In</h3>
                    </div>
                    <form>
                        <div class="form-outline mb-4">
                            <input type="email" id="form1Example1" class="form-control form-control-lg" placeholder="Email address" required />
                            <label class="form-label visually-hidden" for="form1Example1">Email address</label>
                        </div>
                        <div class="form-outline mb-4">
                            <input type="password" id="form1Example2" class="form-control form-control-lg" placeholder="Password" required />
                            <label class="form-label visually-hidden" for="form1Example2">Password</label>
                        </div>
                        <div class="d-flex justify-content-between align-items-center mb-4">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="form1Example3" checked />
                                <label class="form-check-label" for="form1Example3">
                                    Remember me
                                </label>
                            </div>
                            <a href="#!" class="text-muted">Forgot password?</a>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary btn-lg w-100">Sign In</button>
                        </div>
                        <hr class="my-4">
                        <div class="text-center">
                            <p class="mb-0">Don't have an account? <a class="text-primary" asp-area="" asp-controller="SignUp" asp-action="SignUp">Sign up</a></p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
