html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.base-header {
    background: linear-gradient(to right, rgb(44, 62, 80), rgb(76, 161, 175));
}

.default-background-color {
    background: linear-gradient(to right, rgb(44, 62, 80), rgb(76, 161, 175));
}

.logo-text {
    background-image: linear-gradient(to right, rgb(255, 95, 109), rgb(255, 195, 113));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Luminari', fantasy;
    font-size:25px;
}